body {
    background-color: black;
    color: #fff;
}

header.flex {
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 1.2rem;



    & .sign-in {
        margin-inline: 1rem;
    }

    & .register,& .sign-in {
        border: 1px solid var(--bodyFont);
        padding: 0.44rem 1rem;
        border-radius: 55px;
        font-size: 0.8rem;
        font-weight: 500;
    }

    & .register:hover,
    & .sign-in:hover ,
    & .register:hover .fa-solid,
    & .sign-in:hover .fa-solid
    {
 
        background-color: var(--bodyFont);
        color: var(--blue);
    }

    & .fa-solid {
        color: var(--white);
    }

    & .logo .fa-solid {
        font-size: 1.5rem;
    }

    & .logo:hover {
        scale: 0.95;
    }

    & .links .fa-solid , .fa-bag-shopping {
        margin-right: 0.3rem;
        color: var(--white);
    }

    & .cart {
        background-color: var(--bodyFont);
        color: var(--blue);
        font-size: 0.9rem;
        padding: 0.44rem 1.1rem 0.44rem 0.6rem;
        border-radius: 55px;
    }

    & .cart .fa-solid {
        color: var(--blue);
    }

    & .products-number {
        position: absolute;
        right: 0;
        top: -5px;
        font-size: 0.7rem;
        font-weight: bo15;
        background-color: rgb(255 , 90 , 123);
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }




    /* 
         left section (Logo)
    */

    & .fa-bag-shopping {
        font-size: 2rem;
    }
}


@media (width < 600px) {

    
    header.flex {
        justify-content: center;
        padding-inline: 0;


    .logo {
            display: none;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1rem;
    }

}


main form {
    margin-left: 35%;

    & input {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        padding:5px 2.5rem ;
        border: 1px solid var(--white);
        outline: 1px solid var(--white);
        border-radius: 5px;
    }

    & input[type="checkbox"]{
        margin-right: 5px;
        outline: none;
    }
    & button {
        background-color: var(--blue-button);
        color: var(--white);
        padding:0.3rem 1rem;
        border-radius: 2px;
    }

    
}

